body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 10px;
    background: url(images/bbest.jpg);
    min-height: 30rem;
    opacity: 100%;
    background-repeat: no-repeat;
  
    background-size: cover;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav ul{
margin: 0;
margin-left: 1.9rem;

}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 15px;
}
nav ul li:hover{
    background-color: blue;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
}

.section h1{
    color: blue;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
}

.section p{
    color: blue;
    border: 1px solid blue;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding: 5px;
    margin-top: 20%;
    transition: 0.5s;
    opacity: 50%;
    margin-left: 40%;
}
.section p:hover{
    transform: translateY(-0.5rem);
    opacity: 100%;
}

.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.features{
    margin-top: 5%;
    margin-bottom: 2%;
}

.features button{
    padding: 0.7rem 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    opacity: 0.7;
    background-color: white;
    border: none;
}

showcase h1{
    margin-top: 5%;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
    background-color: white;
}


div .science{
    margin: 15px;
    width: 400px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    background-color: white;
    opacity: 50%;
}
div .science:hover{
    opacity: 100%;
}
div .science h4{
    color: #000;
    font-size: 25px;
}
div .science p{
    color: indianred;
    font-weight: bold;
    font-size: 19px;
}
.science li{
    list-style-type: none;
    transition: 0.4s;
}
.science li:hover{
    cursor: pointer;
    color: white;
    padding: 5px;
    border-radius: 8px;
    background-color: blue;
    transform: translateX(-0.8rem);
}
#courses img{
    width: 400px;
    border-radius: 10px;
    border: 2px solid #000;

}

.apply{
    align-items: center;
    margin-top: 4%;
    background-color: blue;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
    height: 100px;
    margin-left: 30px;
    margin-right: 30px;
}
#headline{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    -webkit-text-stroke: 1px blue;
    color: transparent;
    padding: 0;
}
#mypic{
    margin: 10px 15px;
    width: 400px;
    border-radius: 20px;
    display: inline-block;
  
}
div h3{
    text-align: center;
    color: blue;
    background-color: white;
    border:1px solid blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div img{
    border-radius: 20px;
    width: 400px;
    opacity: 60%;
    transition: 0.3s;
}
div img:hover{
    transform: translateY(-0.8rem);
    opacity: 100%;
    padding: 5px 5px;
}
@media only screen and (max-width: 800px) {
    .navbar {
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 400px) {
    .navbar {
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
}


/*THE END*/


























